.subrayado {
color:#00aa00;
text-decoration:underline;
}
.tachado {
color:#00aa00;
text-decoration:line-through;
}

#error{
display:none;
color:#f00;
background-color:#ff0;
font-size:15px;
width:400px;
border:1px solid #00f;
padding:5px;
}